.post-date{
    background: #585858;
    padding:4px;
    margin:3px 0;
    display:block;
}

.post-thumb{
    width:100%;
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}
.items-container{
  with: 900px;
  background-color: #222222;
  padding: 30px;
}
.items-box{
  padding-bottom: 30px;
  border-style: solid;
  border-color: red;
  width: 100%
}

.btn-search {
  background: #c0c0c0;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #1c1c1c;
}